[Unit]
Description=Hypercube
Requires=network.target
After=network.target dnsmasq.service ynh-hotspot.service ynh-vpnclient.service resize2fs-reboot.service firstrun.service secondrun.service

[Service]
Type=simple
ExecStart=/usr/local/bin/hypercube.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
